
<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9 mx-auto text-center">
          <h1 class="text-white">Search Player</h1>
        </div>
      </div>
    </div>
  </div>
  
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <form [formGroup]="searchForm">
            <div class="form-group">
              <input  type="text"   formControlName="age" class="form-control" placeholder="Age">
            </div>
            <div *ngIf="searchForm.controls['age'].invalid &&(searchForm.controls['age'].dirty ||searchForm.controls['age'].touched) ">
              <div *ngIf="searchForm.controls['age'].errors?.['required']">Age is required</div>
            </div>

            
            
            
            <div class="form-group">
              <input type="submit" [disabled]="searchForm.invalid" class="btn btn-primary py-3 px-5" (click)="search()" value="Search">
            </div>
          </form>  
         
        </div>
        <div  *ngFor="let elt of searchPlayer" >
            <div class="custom-media d-flex">
                <div class="img mr-4">
                    <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="text">
                    <h3 class="meta">{{elt.name}}</h3>
                    <h3 class="mb-4">{{elt.position}}</h3>
                    <h3>{{elt.number}}</h3>
                    <h3>{{elt.age}}</h3>
                </div>
                
            </div>
            
        </div>
        <div *ngIf="searchPlayer.length== 0">
          NO PLAYER FOUND
        </div>
      </div>
    </div>
  </div>